{% extends 'base.html' %}
{% block content %}

<div class="list">
    <button type="button" class="btn btn-outline-dark" onclick="goBack()">이전 페이지로 가기</button>
</div>
<script> function goBack() { window.history.back(); } </script>


<div class="container my-1">
    <div class="col-6">
        <div class="input-group">
            <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
</div>

<div class="container my-3">
    <table class="table">
        <thead>
            <tr>
                <th colspan="3" class="text-center">출석체크 명단</th>
            </tr>
        </thead>
        <tbody>
            {% if students %}
            {% for student in students %}
            <tr>
                <td class="text-center">{{ student.count }}</td>
                <td class="text-center">{{ student.check_name }}</td>
                <td class="text-center">{{ student.check_in_time }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<!-- <div class="container">
    출석체크 명단
</div> -->


<!-- {% if students %}
{% for student in students %}
<div class="list">
    <h3>{{ student.check_name }} </h3>
    <h5 class="time">{{ student.check_in_time }}</h5>
</div>
{% endfor %}
{% endif %} -->

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
</style>
<style>
    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        color: limegreen;
    }
</style>
<style>
    .time {
        color: black;
    }
</style>

<form id="searchForm" method="get" action="/">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
</form>

{% endblock %}
{% block script %}
<script type='text/javascript'>
    // const page_elements = document.getElementsByClassName("page-link");
    // Array.from(page_elements).forEach(function (element) {
    //     element.addEventListener('click', function () {
    //         document.getElementById('page').value = this.dataset.page;
    //         document.getElementById('searchForm').submit();
    //     });
    // });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function () {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        // document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
</script>
{% endblock %}